@model MeetUp
<h1>Create a Meet Up</h1>
<a href="home" class="split"><button>Home</button></a>
<form asp-action="PostNewMeetUp" asp-controller="Home" method="post">
    <label asp-for="name"></label>
    <input asp-for="name">
    <label asp-for="dateAndTime"></label>
    <input type="datetime-local" asp-for="dateAndTime">
    <label asp-for="duration"></label>
    <input asp-for="duration">
    <label asp-for="description"></label>
    <input asp-for="description">
    <input value="Create Meet Up" type="submit">
</form>