<!DOCTYPE html>
<html>
    <head>
        <title>Iain's Code</title>
        // In this context '~' refers to the wwwroot folder
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <h1>Hello from Views!</h1>
        <p><a href="/hello2">Say hello</a></p>
    </body>
</html>