@model List<Dish>
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/style.css"/>
        <title>CRUDelicious</title>
    </head>
    <body>
        <h1>Welcome to CRUDelicious!</h1>
        <a href="/new"><button>Add Dish</button></a>
        <ul>
            @{
                foreach(var dish in @Model)
                {
                    <li><a href="@dish.DishId">@dish.Name</a> by @dish.chefName</li>
                }
            }
        </ul>
    </body>
</html>