@model List<Dish>
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/style.css"/>
        <title>CRUDelicious</title>
    </head>
    <body>
        <h1>Welcome to CRUDelicious!</h1>
        <ul>
            @{
    foreach(var dish in @Model)
    {
        <li><a href="http://www.google.com">@dish.Name</a> by @dish.chefName</li>
    }
}
        </ul>
    </body>
</html>
