@model Dish
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/style.css"/>
        <title>CRUDelicious</title>
    </head>
    <body>
        <a href="/"><button>Home</button></a>
        <h1>Add a new dish!</h1>

        <form asp-action="PostNewDish" asp-controller="Home" method="post">
            <label asp-for="chefName"></label>
            <input asp-for="chefName">
            <label asp-for="Name"></label>
            <input asp-for="Name">
            <label asp-for="calories"></label>
            <input asp-for="calories">
            <label asp-for="tastiness"></label>
            <input asp-for="tastiness">
            <label asp-for="Description"></label>
            <input asp-for="Description">
            <br>
            <input value="Create" type="submit">  
        </form>
    </body>
</html>