<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/mainPage.css') }}">
        <title>Users</title>
    </head>
    <body>
        <div id="header">
            <a href="/createPainting/{{session['userID']}}" class="headerLink">Add Painting</a>
            <a href="/mainPage2/{{session['userID']}}" class="headerLink">Dashboard</a>
            <a href="/logout" class="headerLink">logout</a>
        </div>
        <div id="showBox">
        <h1>{{paintings[id|int].title}}</h1>
        <h3>Painted by 
            {{paintings[id|int].first_name}} 
            {{paintings[id|int].last_name}}
        </h3>
        <p>Description:<br>{{paintings[id|int].description}}</p>
        <p>Price:<br>${{paintings[id|int].price}}</p>
        </div>
    </body>
</html>