<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/mainPage.css') }}">
        <title>Main</title>
    </head>
    <body>
        <div id="header">
            <a href="/mainPage2/{{session['userID']}}" class="headerLink">Dashboard</a>
            <a href="/logout" class="headerLink">logout</a>
        </div>
        <h1>PyPie Derby</h1>
        <table style="width:70%">
            <tr>
                <td>Name</td>
                <td>PyPie By</td>
                <td>Votes</td>
            </tr>
            {%for i in range(cars|length)%}
            <tr>
                <td><a href="/showCar/{{i}}">{%print(cars[i].model)%}</a></td>
                <td>
                    {%for j in range(users|length)%}
                        {%if(cars[i].users_id == users[j].id)%}
                            {%print(users[j].first_name)%}
                            {%print(users[j].last_name)%}
                        {%endif%}
                    {%endfor%}
                </td>
                <td>{%print(cars[i].year)%}</td>
            </tr>
            {% endfor %}
        </table>
        
    </body>
</html>